:root {
    color-scheme: light dark;
}

body {
    padding: 10px;
    
    font-family: system-ui;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

#extension-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

#extension-info h1 {
    font-size: 12pt;
}

#extension-info img {
    width: 48px;
    height: 48px;
}

hr.full-width {
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-right: -5px;
    border: 1px solid;
    opacity: 0.3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
